.announcement {
  display: flex;
  text-align: center;
  background: var(--prereview-grey);
  color: white;
  left: 0;
  align-items: center;
  padding: 0 var(--mgrd) 0 var(--mgrd);
  vertical-align: middle;
  font-size: 0.8em;
  position: fixed;
  height: var(--announcement-bar-height);
  width: 100vw;
  z-index: 1000;

  @media (--narrow-screen) {
    padding-left: var(--sgrd);
  }
}

.announcement a { 
  color: var(--prereview-red); 
}