.barplot {
  font: var(--ui-basic-font);
  color: var(--ui-basic-font-color);

  & .barplot__question-list-header {
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    padding: var(--sgrd) 0 var(--sgrd) var(--sgrd);
    margin-bottom: 0;
    justify-content: space-between;
    border-bottom: 1px solid var(--ruling-color);

    & .barplot__question-list-header__left {
      box-sizing: border-box;
      flex: 1 1 50%;

      color: var(--text-color--light);
      font: var(--ui-basic-font--small);
      color: var(--ui-basic-font-color--light);

      text-transform: uppercase;
      display: flex;
      align-items: center;
      box-sizing: border-box;
    }

    & .barplot__question-list-header__right {
      box-sizing: border-box;
      display: flex;
      flex: 1 1 50%;
      /* margin-left: 16px; */
    }
  }

  & .barplot__key {
    display: flex;
    color: var(--text-color--light);
    font: var(--ui-basic-font--small);
    color: var(--ui-basic-font-color--light);
    text-transform: uppercase;
  }

  & .barplot__share {
    margin-left: auto;
    margin-right: var(--sgrd);
  }

  & .barplot__key-item {
    display: flex;
    align-items: center;
    margin-right: var(--mgrd);
  }

  & .barplot__key-color-chip {
    width: 1em;
    height: 1em;
    flex: 0 0 auto;
    background-color: var(--prereview-grey);
    margin-right: var(--xsgrd);

    &.barplot__key-color-chip--yes {
      background-color: var(--barplot-yes);
    }
    &.barplot__key-color-chip--no {
      background-color: var(--barplot-no);
    }
    &.barplot__key-color-chip--unsure {
      background-color: var(--barplot-unsure);
    }
    &.barplot__key-color-chip--na {
      background-color: var(--barplot-na);
    }
  }

  & .barplot__question-list {
    list-style: none;
    padding: 0;

    margin: 0;
    width: 100%;

    grid-template-columns: 50% 50%;
    grid-template-areas: 'questions responses';
    grid-template-rows: repeat(auto-fill);
    justify-items: start;

    & .barplot__question-list__item {
      position: relative;
      padding: var(--xsgrd);
      background-color: var(--xxlight-grey);
      font: var(--ui-basic-font);
      color: var(--ui-basic-font-color);

      &:nth-child(even) {
        background-color: var(--xlight-grey);
      }

      &:hover,
      &:focus {
        z-index: 1000;
        background-color: var(--light-grey);
      }
    }
  }

  & .barplot__question-table {
    display: flex;
    align-items: center;
    z-index: 10;
    border: none;
  }

  & .barplot__question {
    width: 50%;
    text-align: left;
    padding: var(--xsgrd) var(--sgrd) var(--xsgrd) var(--xsgrd);
    box-sizing: border-box;
  }

  & .barplot__responses {
    width: 50%;
    padding-right: var(--xsgrd);
    box-sizing: border-box;
    z-index: 30;
  }
  & .barplot__question-table:focus {
    & .barplot__bar-segments {
      background-color: black;
    }
  }
  & .barplot__bar-segments {
    position: relative;
    z-index: 5;
    width: 100%;
    display: block;
    box-sizing: border-box;
    color: white;
    display: flex;

    & .barplot__bar-segment {
      display: block;
      padding: var(--xxsgrd) 0;
      height: var(--sgrd);
      box-sizing: border-box;
      display: flex;
      align-items: center;
      color: transparent;
      overflow: hidden;
      text-overflow: ellipsis;
      transition: width 0.4s ease-in-out;

      &:hover {
        color: white;
      }

      & .barplot__bar-segment__number {
        margin-left: 4px;
      }
    }

    & .barplot__bar-segment--yes {
      background-color: var(--barplot-yes);
    }
    & .barplot__bar-segment--no {
      background-color: var(--barplot-no);
    }
    & .barplot__bar-segment--unsure {
      background-color: var(--barplot-unsure);
    }
    & .barplot__bar-segment--na {
      background-color: var(--barplot-na);
    }
  }
  & .barplot__question-table:focus {
    & .barplot__bar-segment {
      color: white;
    }
  }

  & .barplot__table-header {
    height: 24px;
    overflow: visible;
    box-sizing: border-box;
    position: absolute;
    width: 50%;
    height: 100%;
    right: 0;
    z-index: 10;
  }

  & .barplot__question-table:hover,
  & .barplot__question-table:focus {
    & .barplot__table-header {
    }
  }
  & .barplot__segment-titles {
    width: calc(100% - var(--sgrd));
    display: flex;
    padding: 0 var(--xxsgrd) 0 var(--xxsgrd);
    margin-right: var(--mgrd);
    position: relative;
    top: -12px;
    opacity: 0;
    box-sizing: border-box;
    background-color: white;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
    border-radius: 12px 12px 0 0;
    transition: top 0.3s ease-out, opacity 0.3s ease-out;
    pointer-events: none;
    z-index: 20;
  }

  & .barplot__question-list__item:hover,
  & .barplot__question-list__item:focus {
    outline: none;
    & .barplot__segment-titles {
      top: -16px;
      opacity: 0.95;
    }

    & .barplot__bar-segment {
      color: white;
    }
  }

  & .barplot__segment-title {
    padding: var(--xxsgrd) var(--xsgrd);
    box-sizing: border-box;
    flex: 0 0 auto;
    border: none;
    border-right: 1px solid var(--ruling-color--light);

    background-color: transparent;
    font: var(--ui-basic-font-size);
    &:last-child {
      border-right: none;
    }
    &:empty {
      display: none;
    }
  }
}
