.extension-fallback {
  min-height: 100vh;
  height: 100%;
  background-color: rgb(83, 86, 89);

  & .extension-fallback__no-pdf-message {
    text-align: center;
    padding: var(--sgrd);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh;
    color: white;
    text-shadow: 0 1px 4px rgba(0, 0, 0, 0.4);
    & a {
      &:hover {
        color: white;
      }
    }
  }

  & object {
    display: block; /* iframes are inline by default */
    border: none; /* Reset default border */
    @media (--narrow-screen) {
      height: 100vh; /* Viewport-relative units */
      width: 100vw;
    }
    @media (--wide-screen) {
      position:absolute;
      width:60vw;
      height:100%;
      overflow-y: scroll;
    }
  }

}
