.header-bar {
  background-color: white;
  width: 100vw;
  height: var(--header-bar-height);
  position: fixed;
  top: 0;
  left: 0;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 var(--mgrd) 0 var(--mgrd);

  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.2);
  z-index: 1000;

  @media (--narrow-screen) {
    padding-left: var(--sgrd);
  }

  /* the hamburder is only visible on narrow screens */
  & .header-bar__menu-button {
    display: none;
    margin-right: var(--sgrd);

    @media (--narrow-screen) {
      display: block;
    }
  }

  & .header-bar__menu-button-icon {
    width: var(--mgrd);
    height: var(--mgrd);
  }

  & .header-bar__left {
    display: flex;
    align-items: center;
  }

  & .header-bar__right {
    display: flex;
    align-items: center;
  }

  & .header-bar__nav-item {
    font: var(--ui-header-menu-font);
    margin: 0 var(--sgrd);
    display: block;
    white-space: nowrap;
    line-height: 0;
    & :any-link {
      color: var(--ui-basic-font-color);
      text-decoration: none;
    }
    & a:hover {
      opacity: 0.7;
    }

    &:last-of-type {
      margin-right: 0;
    }

    &.header-bar__nav-item--extension {
      /* hide extension option on mobile */
      @media (--mobile-portrait) {
        display: none;
      }
      @media (--mobile-landscape) {
        display: none;
      }
    }
  }
}

[data-reach-menu] {
  z-index: 2000;
}
