.header-bar {
  background-color: white;
  width: 100vw;
  height: var(--header-bar-height);
  position: fixed;
  top: var(--announcement-bar-height);
  left: 0;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 var(--mgrd) 0 var(--mgrd);

  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.2);
  z-index: 1000;

  @media (--narrow-screen) {
    padding-left: var(--sgrd);
  }

  @media (--mobile) {
    top: var(--announcement-bar-height--mobile);
  }

  & .rapid-pre-review-logo {
    @media (--mobile) {
      height: var(--lgrd);
    }
  }

  & .header-bar__give-feedback {
    position: fixed;
    font: var(--ui-basic-font);
    line-height: 1.25em;
    background-color: var(--prereview-red);
    color: white;
    text-shadow: 0px 0px 10px #eb0000; /* improve contrast for accessability */
    right: 0px;
    bottom: var(--xlgrd);
    width: 56px;
    padding: var(--xsgrd);
    padding-right: var(--mgrd);
    border-top-left-radius: var(--xsgrd);
    border-bottom-left-radius: var(--xsgrd);
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
    & :any-link {
      color: white;
      text-decoration: none;
      &:hover {
        text-decoration: underline;
      }
    }
  }

  /* the hamburder is only visible on narrow screens */
  & .header-bar__menu-button {
    display: none;
    margin-right: var(--sgrd);

    @media (--narrow-screen) {
      display: block;
    }
  }

  & .header-bar__menu-button-icon {
    width: var(--mgrd);
    height: var(--mgrd);
  }

  & .header-bar__left {
    display: flex;
    align-items: center;
  }

  & .header-bar__right {
    display: flex;

    align-items: center;

    & :any-link {
      color: var(--ui-basic-font-color);
      text-decoration: none;
    }

    & a:hover {
      opacity: 0.7;
    }
  }

  & .header-bar__nav-item {
    font: var(--ui-header-menu-font);
    margin: 0 var(--mgrd) 0 0;
    display: block;
    white-space: nowrap;
    line-height: 0;

    & abbr {
      text-decoration: none;
    }
    &:last-child {
      margin-right: 0;
    }

    @media (--mobile) {
      font: var(--ui-header-menu-font--small);
      margin-right: var(--sgrd);
    }
  }
}

[data-reach-menu] {
  z-index: 2000;
}
