.home {
  color: var(--ui-basic-font-color);
  font: var(--ui-basic-font);
  &:any-link {
    color: var(--link-color);
  }
  & .home__main {
    display: flex;
    width: 100vw;
    padding-top: calc(var(--header-bar-height) + var(--search-bar-height));

    @media (--short-screen) {
      padding-top: 0;
    }
    &__right {
      flex: 1 1 10%;
      background: white;
    }
  }
  & .home__content {
    background: white;
    min-height: 200vh;
    padding: var(--xsgrd);
    flex: 1 1 var(--middle-column-default-width);
    max-width: var(--middle-column-default-width);
  }

  & .home__content-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: var(--mgrd);
  }

  & .home__content-title {
    font: var(--ui-header-1-font);
    margin: 0;
  }

  & .home__preprint-list {
    list-style: none;
    margin: 0;
    padding: 0;

    & .home__preprint-list__item {
      margin: 0;
      padding: 0;
    }
  }
}

.home-login-modal {
  & .home-login-modal__title {
    display: flex;
    align-items: center;

    & .home-login-modal__title-icon {
      width: var(--mgrd);
      height: var(--mgrd);
      margin-right: var(--xsgrd);
      color: var(--ui-basic-font-color--light);
    }
  }
}
