.home {
  color: var(--ui-basic-font-color);
  font: var(--ui-basic-font);
  width: 100%; /* 100VW will cause horizontal scrolling on Edge */
  box-sizing: border-box;
  overflow-x: hidden;

  &:any-link {
    color: var(--link-color);
  }

  & .home__main {
    display: flex;
    width: 100vw;
    padding-top: calc(var(--header-bar-height) + var(--search-bar-height) + var(--announcement-bar-height));

    @media (--mobile) {
      padding-top: calc(var(--header-bar-height) + var(--search-bar-height) + var(--announcement-bar-height--mobile));
    }

    @media (--short-screen) {
      padding-top: 0;
    }
    & .home__main__right {
      flex: 1 1 10%;
      background: white;

      @media (--narrow-screen) {
        flex: 0 0 0px;
      }
    }
  }

  & .home__content {
    background: white;
    min-height: 100vh;
    padding: var(--mgrd) var(--sgrd);
    flex: 0 0 var(--middle-column-default-width);
    width: var(--middle-column-default-width);
    max-width: calc(100vw - var(--left-panel-min-width));
    margin-bottom: 60px;
    position: relative;
    box-sizing: border-box;
    @media (--narrow-screen) {
      max-width: 100vw;
    }
  }

  & .home__content-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: var(--mgrd);

    & .button {
      display: block;
      margin-left: auto;
    }
    @media (--narrow-screen) {
      display: block;

      & .button {
        margin-top: var(--sgrd);
      }
    }

    @media (--mobile-portrait) {
      & .button {
        margin-top: var(--sgrd);
        width: 100%;
      }
    }
  }

  & .home__content-title {
    font: var(--ui-header-1-font);
    margin: 0;
  }

  & .home__preprint-list {
    list-style: none;
    margin: 0;
    padding: 0;

    & .home__preprint-list__item {
      margin: 0;
      padding: 0;
      /* the user badge list can stretch the content in a way that forces a resize
      when the expansion panel is open. Force it match with of container */
      max-width: calc(var(--middle-column-default-width) - var(--lgrd));
    }
  }

  & .home__preprint-list--new {
    margin-bottom: var(--sgrd);
  }

  & .home__pagination {
    margin-top: var(--sgrd);
    display: flex;
    justify-content: center;
    & .button {
      margin: var(--xsgrd);
    }
  }

  & .home__extention-banner {
    position: fixed;
    text-align: center;
    font: var(--ui-basic-font);
    font-size: medium;
    line-height: 1.25em;
    background-color: var(--prereview-red);
    color: white;
    flex: 0 0 var(--middle-column-default-width);
    text-shadow: 0px 0px 10px #eb0000;
    left: var(--left-panel-min-width);
    bottom: 0;
    width: var(--middle-column-default-width);
    max-width: calc(80vw - var(--left-panel-min-width));
    padding: var(--xsgrd) var(--xlgrd);
    margin: var(--mgrd) var(--sgrd) 0;
    border-top-left-radius: var(--xsgrd);
    border-top-right-radius: var(--xsgrd);
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
    z-index: 1000;
    @media (--narrow-screen) {
      left: 0;
      font-size: inherit;
      max-width: calc(100vw - 130px);
    }
    @media (--mobile) {
      display: none;
    }
    & .home-extension-banner__close-button {
      position: absolute;
      right: 0;
      top: 0;
      color: inherit;
    }
    & :any-link {
      color: white;
      text-decoration: none;
      &:hover {
        text-decoration: underline;
      }
    }
  }
}
