.left-side-panel {
  height: 100vh;
  flex: 1 1 10%;
  position: relative;
  background-color: white;
  min-width: var(--left-panel-min-width);
  z-index: 900;
  border-top: 1px solid transparent;


  & .left-side-panel__content {
    position: fixed;
    width: var(--left-panel-min-width);
    top: calc(var(--header-bar-height) + var(--search-bar-height) + var(--announcement-bar-height));
    height: calc(100vh - var(--header-bar-height) - var(--search-bar-height) - var(--announcement-bar-height));
    background-color: white;
    overflow-y: auto;
    -ms-overflow-style: -ms-autohiding-scrollbar;
  }

  @media (--short-screen) {
    & .left-side-panel__content {
      top: calc(var(--header-bar-height) + var(--announcement-bar-height));
      height: calc(100vh - var(--header-bar-height) - var(--announcement-bar-height));
    }
  }

  @media (--narrow-screen) {
    position: fixed;
    top: calc(var(--header-bar-height) + var(--announcement-bar-height) + var(--search-bar-height));
    box-shadow: 3px 4px 4px rgba(0, 0, 0, 0.2);

    border-top: 1px solid var(--ruling-color--light);
    z-index: 1001;

    /*
    Note: the left-panel can only be in hidden state on narrow screens
    */

    &.left-side-panel--hidden {
      margin-left: -100%;
    }
  }
}
