[data-reach-dialog-overlay] {
  z-index: 100000;
}

/* Note the rpos- prefix as modal is a common class in the host sites where the content script is injected */
.rpos-modal-container {
  max-width: 800px;
  min-width: 400px;
  width: fit-content !important;
}

.rpos-modal {
  font: var(--ui-basic-font--large);

  & .rpos-modal__header-bar {
    display: flex;
    justify-content: space-between;
    padding: var(--mgrd) var(--mgrd) var(--sgrd) var(--lgrd);
    align-items: baseline;
  }

  & .rpos-modal__title {
    font: var(--ui-basic-font);
    color: var(--ui-basic-font-color--light);
    text-transform: uppercase;
    letter-spacing: 0.05em;
    margin: 0;
    display: flex;
    align-items: center;
  }

  & .rpos-modal__content {
    padding: 0 var(--lgrd) var(--lgrd);
  }
}
