.pdf-viewer {
  position:absolute;
  height:100%;
  width:100%;
  overflow-y: scroll;

  .pdf-margin {
    margin: 0 auto;
    max-width: 900px; /* Keep in sync with JS */
  }

  @media (--wide-screen) {
    width: 60vw;
  }
}

@keyframes pdf-viewer__loading__text-ellipsis {
  to {
    width: 1.25em;
  }
}

.pdf-viewer__fake-page {
  outline: 1px solid grey;
  min-height: 10px;
}
