.pdf-viewer {
  max-width: 900px; /* Keep in sync with JS */
  margin: 0 auto;
}

@keyframes pdf-viewer__loading__text-ellipsis {
  to {
    width: 1.25em;
  }
}

.pdf-viewer__fake-page {
  outline: 1px solid grey;
  min-height: 10px;
}
