.preprint-card {
  position: relative;
  background-color: white;
  box-sizing: border-box;
  box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.08);
  color: var(--ui-basic-font-color);

  font: var(--ui-basic-font);
  margin: 0;
  margin-bottom: 3px;
  display: flex;
  border-top: 1px solid white;

  &:hover {
    z-index: 500;
    /*outline: 1px solid red;*/
    box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.1);
  }

  & .preprint-card__score-panel {
    box-sizing: border-box;
    flex: 0 0 var(--xlgrd);
    background-color: var(--card-color--tinted);
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;

    & .preprint-card__score-panel__top {
      box-sizing: border-box;
      flex: 0 0 var(--lgrd);
      display: flex;
      justify-content: center;
      align-items: center;
      padding: var(--xxsgrd) 0;
    }
    & .preprint-card__score-panel__middle {
      box-sizing: border-box;
      flex: 1 1 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }

    & .preprint-card__score-panel__bottom {
      box-sizing: border-box;
      flex: 0 0 var(--lgrd);
      display: flex;
      justify-content: center;
      align-items: center;
      padding: var(--xxsgrd) 0;
    }
  }

  & .preprint-card__up-request-icon {
    width: 20px;
    height: 20px;
  }
  & .preprint-card__contents {
    flex: 1 1 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  & .preprint-card__header {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    padding: var(--xsgrd) var(--sgrd);
  }

  & .preprint-card__title {
    font: var(--ui-header-2-font);
    &:any-link {
      color: var(--ui-basic-font-color);
      text-decoration: none;
      &:hover {
        text-decoration: underline;
      }
    }
  }

  & .preprint-card__title-text {
    font: inherit;
    margin: 0 var(--sgrd) var(--xsgrd) 0;
  }

  & .preprint-card__pub-date {
    white-space: nowrap;
    font: var(--ui-header-2-font);
    color: var(--ui-basic-font-color--light);
  }

  & .preprint-card__info-row {
    box-sizing: border-box;
    padding: 0 var(--sgrd) var(--xsgrd);
    display: flex;
    justify-content: space-between;

    & .preprint-card__info-row__left {
      display: flex;
    }
  }

  & .preprint-card__server-name {
    color: var(--ui-basic-font-color--light);
    vertical-align: baseline;
  }
  & .preprint-card__server-arrow-icon {
    color: var(--ui-basic-font-color--light);
    width: 1.5em;
    height: 1.5em;
    vertical-align: baseline;
    display: inline-block;
  }
  & .preprint-card__server-id {
    color: var(--ui-basic-font-color--light);
    vertical-align: baseline;
  }
  & .preprint-card__tag-list {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;

    & .preprint-card__tag-list__item {
      flex: 0 0 auto;
      margin-right: var(--xsgrd);
      &:last-child {
        margin-right: 0;
      }
    }
  }

  & .preprint-card__tag-icon {
    width: 20px;
    height: 20px;
    flex: 0 0 20px;
    background-color: var(--light-grey);
    border-radius: 50%;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;

    & .preprint-card__tag-icon--active {
      background-color: var(--ui-basic-font-color--light);
    }

    & .preprint-card__tag-icon__icon {
      width: 16px;
      height: 16px;
    }
  }

  & .preprint-card__expansion-header {
    box-sizing: border-box;
    font: var(--ui-basic-font--small);
    display: flex;
    align-items: center;
    border-top: 1px solid var(--ruling-color--light);
    padding: var(--xsgrd);
    width: 100%;
  }

  & .preprint-card__count-badge {
    height: 1.1em;
    min-width: 1.1em;
    margin-right: var(--xxsgrd);
  }

  & .preprint-card__count-label {
    margin-right: var(--xsgrd);
    color: var(--ui-basic-font-color--light);
    text-transform: uppercase;
    letter-spacing: 0.05em;
  }
}
