.preprint-card {
  position: relative;
  background-color: white;
  box-sizing: border-box;
  /* box-shadow: 0px 1px 5px rgba(0, 0, 0, 0); */
  color: var(--ui-basic-font-color);

  font: var(--ui-basic-font);
  margin: var(--mgrd) 0 0;
  /* margin-bottom: 3px; */
  display: flex;
  /* border-top: 1px solid white; */
  border-bottom: 1px solid var(--light-grey);

  transition: box-shadow 0.1s;
  /* &:hover {
    z-index: 500;
    box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.1);
  }  */

  & .preprint-card__score-panel {
    box-sizing: border-box;
    flex: 0 0 48px;
    /* background-color: var(--card-color--tinted); */
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;

    & .icon-button__contents {
      opacity: 0.5;
      &:hover {
        opacity: 0.9;
      }
    }

    & .preprint-card__score-panel__top {
      box-sizing: border-box;
      flex: 0 0 var(--xlgrd);
      height: var(--xlgrd);
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 12px 0 var(--xxsgrd) 0;
    }
    & .preprint-card__score-panel__middle {
      box-sizing: border-box;
      flex: 1 1 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }

    & .preprint-card__score-panel__bottom {
      box-sizing: border-box;
      flex: 0 0 var(--xlgrd);
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      box-sizing: border-box;
      border-top: 1px solid var(--ruling-color--light);
    }
  }

  & .preprint-card__up-request-icon {
    width: 20px;
    height: 20px;
  }
  & .preprint-card__contents {
    flex: 1 1 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  & .preprint-card__header {
    display: flex;
    /*flex-wrap: wrap;*/
    justify-content: space-between;
    align-items: baseline;
    align-items: first-baseline;

    padding: var(--sgrd) var(--mgrd) var(--xsgrd);

    @media (--mobile-portrait) {
      padding-left: var(--xsgrd);
    }
  }

  & .preprint-card__title {
    font: var(--ui-header-2-font);
    &:any-link {
      color: var(--ui-basic-font-color);
      text-decoration: none;
      &:hover {
        text-decoration: underline;
      }
    }
  }

  & .preprint-card__title-text {
    font: inherit;
    margin: 0 var(--sgrd) var(--xsgrd) 0;
  }

  & .preprint-card__pub-date {
    @media (--wide-screen) {
      white-space: nowrap;
    }
    font: var(--ui-header-2-font);
    color: var(--ui-basic-font-color--light);
  }

  & .preprint-card__info-row {
    box-sizing: border-box;
    padding: 0 var(--mgrd) var(--mgrd);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    @media (--mobile-portrait) {
      padding-left: var(--xsgrd);
    }

    & .preprint-card__info-row__left {
      display: flex;
    }
  }

  & .preprint-card__server-name {
    color: var(--ui-basic-font-color--light);
    vertical-align: baseline;
  }
  & .preprint-card__server-arrow-icon {
    color: var(--ui-basic-font-color--light);
    width: 1.5em;
    height: 1.5em;
    vertical-align: baseline;
    display: inline-block;
  }
  & .preprint-card__server-id {
    color: var(--ui-basic-font-color--light);
    vertical-align: baseline;
  }

  & .preprint-card__tag-list {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;

    & .preprint-card__tag-list__item {
      flex: 0 0 auto;
      margin-right: var(--xsgrd);
      &:last-child {
        margin-right: 0;
      }
    }
  }

  & .preprint-card__tag-icon {
    width: 20px;
    height: 20px;
    flex: 0 0 20px;
    background-color: var(--light-grey);
    border-radius: 50%;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;

    & .preprint-card__tag-icon__icon {
      width: 16px;
      height: 16px;
    }
  }

  & .preprint-card__tag-icon--active {
    background-color: var(--ui-basic-font-color--light);
  }

  & .preprint-card__expansion-header {
    box-sizing: border-box;
    font: var(--ui-basic-font--small);
    display: flex;
    align-items: center;
    border-top: 1px solid var(--ruling-color--light);
    padding: var(--xsgrd) var(--xsgrd) var(--xsgrd) var(--sgrd);
    width: 100%;
    height: var(--xlgrd);
    & .preprint-card__expansion-toggle {
      margin-left: auto;
    }

    & .preprint-card__expansion-toggle-icon {
      width: var(--mgrd);
      height: var(--mgrd);
    }
  }

  & .preprint-card__count-badge {
    height: 1.1em;
    min-width: 1.1em;
    margin-right: var(--xxsgrd);
  }

  & .preprint-card__count-label {
    margin-right: var(--xsgrd);
    color: var(--ui-basic-font-color--light);
    text-transform: uppercase;
    letter-spacing: 0.05em;
  }
}

.home__preprint-list__item .collapse {
  position: relative;
  border-bottom: 1px solid var(--ruling-color);
  /* Top Shadow */
  &:before {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    right: 0;
    height: 1px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.6);
    top: -1px;
    z-index: 10;
  }

  /* Bottom Shadow */
  &:after {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    right: 0;
    height: 1px;
    box-shadow: 0 -2px 6px rgba(0, 0, 0, 0.6);
    bottom: -1px;
    z-index: 10;
  }
}
.preprint-card-expansion {
  max-height: 300px;
  overflow: auto;
  position: relative;
}
