.preprint-preview {
  font: var(--ui-basic-font);
  background-color: var(--xlight-grey);
  padding: var(--sgrd) var(--sgrd);
  border-radius: 2px;

  & .preprint-preview__header {
    display: flex;
    align-items: baseline;
    margin-bottom: var(--sgrd);
  }

  & .preprint-preview__title {
    font: var(
      --ui-header-2-font
    ); /* prevent inheritance of vertical position from extension context */
    hyphens: auto;
    margin: 0;
    text-transform: none; /* prevent inheritance of vertical position from extension context */
  }

  & .preprint-preview__date {
    font: var(--ui-header-2-font);
    color: var(--ui-basic-font-color--light);
    margin-left: auto;
    white-space: nowrap;
  }

  & .preprint-preview__info {
    display: flex;
    align-items: center;
  }
  & .preprint-preview__server {
    color: var(--ui-basic-font-color--light);
    white-space: nowrap;
  }
  & .preprint-preview__server-arrow-icon {
    color: var(--ui-basic-font-color--light);
    width: var(--sgrd);
    height: var(--sgrd);
    margin: 0 var(--xxsgrd);
  }
  & .preprint-preview__id {
    color: var(--ui-basic-font-color--light);
    white-space: nowrap;
  }

  & .preprint-preview__hyperlink {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: var(--ui-basic-font-color);

    & .preprint-preview__shell-icon {
      margin-left: var(--xxsgrd);
      display: inline-block;
      width: 15px;
      height: 15px;
      position: relative;
      top: 2px;
      opacity: 0;
      transition: opacity 0.2s;
    }

    &:hover {
      text-decoration: underline;
      color: var(--link-color);
      & .preprint-preview__shell-icon {
        opacity: 0.6;
      }
    }
  }

}
