.rapid-form-fragment {
  margin-top: var(--mgrd);
  & .rapid-form-fragment__divider {
    border: none;
    border-top: 2px solid var(--ruling-color);
    margin: var(--mgrd) 0 var(--sgrd);
  }
  & fieldset {
    padding: 0;
    border: none;
    margin: 0;
  }

  & .radid-form-fragment__question-row {
    display: flex;
    flex-wrap: wrap;
    padding: var(--xsgrd);
    align-items: center;
    &:nth-child(even) {
      background-color: var(--xlight-grey);
    }
  }

  & .radid-form-fragment__question {
    width: 50%;
    margin: 0;
    padding-right: var(--sgrd);
    box-sizing: border-box;
    hyphens: auto;
    display: flex;
    align-items: center;
  }

  & .radid-form-fragment__help {
    margin-left: var(--xsgrd);
  }

  & .rapid-form-fragment__radio-group {
    display: flex;
    width: 50%;
    justify-content: space-between;
    width: flex 0 0 50%;
    flex-wrap: wrap;
  }

  & .radid-form-fragment__text-question-row {
    position: relative;
    padding: var(--xsgrd);

    &:nth-child(even) {
      background-color: var(--xlight-grey);
    }
  }
  & .radid-form-fragment__text-question {
    display: block;
    margin-bottom: var(--xsgrd);
  }

  & .radid-form-fragment__text-answer {
    width: calc(100% - var(--xsgrd));
    max-width: calc(100% - var(--xsgrd));
    min-height: 6em;
    resize: vertical;
  }
}
