.rapid-form-fragment {
  margin-top: var(--mgrd);
  & .rapid-form-fragment__divider {
    width: 100%;
    border: none;
    border-top: 2px solid var(--ruling-color);
    margin: var(--mgrd) 0 var(--sgrd);
  }
  & fieldset {
    padding: 0;
    border: none;
    margin: 0;
  }

  & .radid-form-fragment__question-row {
    display: flex;
    flex-wrap: wrap;
    padding: var(--sgrd) var(--sgrd);
    align-items: center;
    &:nth-child(even) {
      background-color: var(--xlight-grey);
    }

    & .collapse {
      width: 100%;
    }
  }

  & .radid-form-fragment__question {
    font: var(--ui-basic-font);
    width: 50%;
    margin: 0;
    padding-right: var(--sgrd);
    box-sizing: border-box;

    align-items: center;
    hyphens: auto;
    & p {
      display: inline;
      hyphens: auto;
      padding-right: var(--mgrd); /* reserve space for help icon */
    }
  }

  & .radid-form-fragment__help {
    font: var(--ui-basic-font);
    width: var(--mgrd) !important;
    height: var(--mgrd) !important;
    flex: 0 0 var(--mgrd);
    color: var(--ui-basic-font-color--light);
    position: absolute;
    margin-top: -2px;
    margin-left: -24px; /* position within padding of help text */
    & svg {
      width: 16px;
      height: 16px;
    }
  }

  & .rapid-form-framgrment__help-collapse {
    width: 100%;
  }
  & .rapid-form-fragment__help-text {
    color: var(--ui-basic-font-color--light);
    border: 1px solid var(--ruling-color);
    padding: var(--xsgrd);
    width: 100%;
    box-sizing: border-box;
    background-color: rgba(255, 255, 255, 0.8);
  }

  & .rapid-form-fragment__radio-group {
    display: flex;
    width: 50%;
    justify-content: space-between;
    width: flex 0 0 50%;
    flex-wrap: wrap;
  }

  & .radid-form-fragment__text-question-row {
    position: relative;
    padding: var(--sgrd);

    &:nth-child(even) {
      background-color: var(--xlight-grey);
    }
  }
  & .radid-form-fragment__text-question {
    font: var(--ui-basic-font);
    display: block;
    margin-bottom: var(--xsgrd);
  }

  & .radid-form-fragment__text-answer {
    width: calc(100% - var(--xsgrd));
    max-width: calc(100% - var(--xsgrd));
    min-height: 6em;
    resize: vertical;
  }
}
