.role-list {
  position: relative;
  padding: var(--xxsgrd);
  /* border-radius: calc((var(--xsgrd) * 2)+ var(--lgrd)); */
  border-radius: 32px;

  box-sizing: border-box;

  & .role-list__tip-text {
    position: absolute;
    z-index: 500;
    width: calc(100% - var(--sgrd));
    margin: 0;
    height: calc(100% - var(--sgrd));
    line-height: var(--xlgrd);
    text-align: center;
    pointer-events: none;
    color: var(--ui-basic-font-color--light);
  }

  & .role-list__clear-button {
    position: absolute;
    right: 8px;
    top: 4px;
    z-index: 500;

    & .role-list__clear-button__icon {
      width: var(--sgrd);
      height: var(--sgrd);
    }
  }
}

.role-list__list {
  border-radius: var(--mgrd);
  padding: var(--xxsgrd);
  display: flex;
  list-style: none;
  background-color: var(--xlight-grey);
  height: var(--lgrd);
  overflow-x: auto;
  overflow-y: hidden;
  -ms-overflow-style: -ms-autohiding-scrollbar;
  margin: 0;

  /* scrolling hints (credits to Lea Verou in her CSS secrets book and
     http://lea.verou.me/2012/04/background-attachment-local/ */
  background:
    /* left shadow cover mask (scrolls) */ linear-gradient(
      to right,
      var(--xlight-grey) 0px,
      var(--xlight-grey) 32px,
      rgba(255, 255, 255, 0) 64px,
      rgba(255, 255, 255, 0)
    ),
    /* left inset shadow (fixed) */
      linear-gradient(
        to right,
        rgba(0, 0, 0, 0.3) 0px,
        var(--xlight-grey) 24px,
        rgba(255, 255, 255, 0)
      ),
    /* left shadow cover mask (scrolls) */
      linear-gradient(
        to left,
        var(--xlight-grey) 0px,
        var(--xlight-grey) 32px,
        rgba(255, 255, 255, 0) 64px,
        rgba(255, 255, 255, 0)
      ),
    /* left inset shadow (fixed) */
      linear-gradient(
        to left,
        rgba(0, 0, 0, 0.3) 0px,
        var(--xlight-grey) 24px,
        rgba(255, 255, 255, 0)
      );
  background-repeat: no-repeat;
  background-size: 100% 100%, 100% 100%;
  background-attachment: local, scroll, local, scroll;

  & li {
    margin-right: var(--xxsgrd);
    height: var(--lgrd);
  }
  & li:last-child {
    margin-right: 0;
  }
}

.role-list--can-drop {
  background-color: var(--light-grey);
}

.role-list--is-over {
  background-color: var(--prereview-blue);
}
