.score-badge {
  box-sizing: border-box;
  /* border: 2px solid var(--prereview-red); */
  color: var(--ui-score-badge-primary-color);
  border-radius: 50%;
  width: 20px;
  height: 20px;
  flex: 0 0 var(--mgrd);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  overflow: hidden;

  font: var(--ui-score-badge-font);
  font-weight: 600;
  letter-spacing: -0.05em;
  position: relative;
  transition: color 0.1s;

  & .score-badge__clock-svg {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;

    & .score-badge__clock-svg__active-path {
      stroke: var(--ui-score-badge-primary-color);
    }
    & .score-badge__clock-svg__inactive-path {
      stroke: var(--ui-score-badge-secondary-color);
    }
  }

  &:hover {
    color: var(--ui-score-badge-primary-color--focus);
    & .score-badge__clock-svg__active-path {
      stroke: var(--ui-score-badge-primary-color--focus);
    }
  }

  & .score-badge--needs-attention {
    border-color: var(--prereview-coral);
    color: var(--prereview-coral);
  }

  & .score-badge__score {
    position: relative;
  }
  /*
  &.score-badge--animating {
    & .score-badge__score {
      animation-name: flicker;
      animation-iteration-count: infinite;
      animation-duration: 0.1s;
      text-shadow: 0 6px 2px rgba(255, 32, 7, 0.509);
    }
  }*/
}

.score-badge.score-badge--highlighted {
  color: var(--ui-basic-font-color);
  & .score-badge__clock-svg__active-path {
    stroke: var(--ui-basic-font-color)
  }
}

@keyframes flicker {
  0% {
    top: 14px;
  }
  99% {
    top: -14px;
  }
  100% {
    top: 14px;
  }
}
