.search-bar {
  background-color: white;
  width: 100vw;
  height: var(--search-bar-height);
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: var(--header-bar-height);
  left: 0;
  border-top: 1px solid var(--ruling-color--light);
  z-index: 1001;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.2);
  padding: 0 var(--sgrd);
  box-sizing: border-box;

  @media (--short-screen) {
    position: relative;
    z-index: 999;
    box-shadow: none;
    margin-top: var(--header-bar-height);
    top: 0;
  }

  & .search-bar__search-box {
    flex: 1 1 var(--middle-column-default-width);
    max-width: var(--middle-column-default-width);
    height: var(--xlgrd);
    position: relative;
    box-sizing: border-box;

    & .search-bar__search-box__input {
      width: 100%;
      height: 100%;
      box-sizing: border-box;
      border: none;
      padding: 4px;
      margin: 0;
      border: 2px solid var(--ruling-color--light);
      transition: border 0.2s;
      font: var(--ui-basic-font);

      &:focus {
        outline: none;
        border: 2px solid var(--ruling-color);
        margin: 0;
      }
    }

    & .search-bar__search-box__button {
      border-radius: calc(var(--lgrd) / 2);
      box-sizing: border-box;
      border: none;
      padding: 4px;
      margin: 0;
      position: absolute;
      right: 8px;
      width: var(--lgrd);
      height: var(--lgrd);
      top: 4px;
      opacity: 0.6;

      &:hover {
        opacity: 1;
      }

      &:focus {
        outline: none;
        background-color: var(--ui-basic-font-color);
        color: white;
      }
    }
    & .search-bar__search-box__button-icon {
      position: relative;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
  }
}
