.settings {
  width: 100%;

  background-color: var(--xlight-grey);
  box-sizing: border-box;
  font: var(--ui-basic-font);
  margin: 0;
  min-height: 100vh;
  padding: calc(var(--header-bar-height) + var(--lgrd)) 0 var(--lgrd);
  box-sizing: border-box;

  & .settings__content {
    max-width: var(--middle-column-default-width);
    margin: 0 auto;
    background-color: white;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.15);
    min-height: 100vh;
  }
  & .settings__title {
    margin: 0 0 var(--mgrd) 0;
    font: var(--ui-header-1-font);
  }

  & .settings__info-list {
    margin: var(--sgrd) 0;
    position: relative;
    display: block;

    & .settings__info-list__term {
      float: left;

      display: block;
      height: 100%;
    }
    & .settings__info-list__def {
      padding-left: var(--xsgrd);
    }
  }

  & .settings__section {
    padding: var(--mgrd) var(--lgrd);
    border-top: 1px solid var(--ruling-color);
  }

  & .settings__persona-list-header {
    display: flex;
    width: 100%;
    justify-content: space-between;
    border-bottom: 1px solid var(--ruling-color);

    padding: var(--xxsgrd) var(--xsgrd);
    margin-bottom: var(--sgrd);
    font: var(--ui-basic-font);
    color: var(--ui-basic-font-color--light);
    text-transform: uppercase;
    letter-spacing: 0.035em;

    & .settings__persona-list-header__active {
      padding: 0 var(--sgrd);
      flex: 0 0 128px;
      box-sizing: border-box;
      @media (--mobile-portrait) {
        flex: 0 1 auto;
      }
    }

    & .settings__persona-list-header__username {
      flex: 1 1 25%;
    }

    & .settings__persona-list-header__anon {
      margin-right: 80px;
    }
  }
  & .settings__persona-list {
    padding: 0;
    list-style: none;
  }

  & .settings__persona-list-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: var(--xsgrd);
    &:nth-child(even) {
      background-color: white;
    }

    & .settings__persona-list-item__username {
      display: flex;
      align-items: center;
      flex: 1 1 25%;
    }

    & .settings__persona-list-item__right {
      display: flex;
      align-items: center;
    }
  }

  & .settings__persona-list-item__username {
    text-overflow: ellipsis;
    overflow: hidden;
  }
  & .settings__persona-badge {
    margin-right: var(--xsgrd);
  }

  & .settings__persona-link {
    display: inline-block;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
  }

  & .settings__persona-list-item__active-state {
    padding-right: var(--sgrd);
    flex: 0 0 110px;
    @media (--mobile-portrait) {
      flex: 0 0 50px;
    }
  }
  & .settings__persona-list-item__is-active {
    display: flex;
    align-items: center;
    padding-left: var(--xsgrd);
  }

  & .settings__persona-active-icon {
    width: var(--mgrd);
    height: var(--mgrd);
    fill: var(--prereview-gold);
    margin-right: var(--xxsgrd);

    &.settings__persona-active-icon--inactive {
      fill: var(--light-grey);
    }
  }

  & .settings__persona-active-label {
    @media (--mobile-portrait) {
      display: none;
    }
  }
  & .settings__persona-status {
    display: inline-block;
    margin: 0 var(--xsgrd);
    padding: 2px var(--xsgrd);
    border-radius: 2px;
    text-transform: uppercase;
    font: var(--ui-basic-font--small);
    letter-spacing: 0.075em;

    & .settings__persona-status__icon-container {
      height: var(--mgrd);
      padding: 0 var(--xsgrd) 0 var(--xsgrd);
      color: white;
      border-radius: 12px;

      display: flex;
      align-items: center;
      justify-content: center;
      background-color: var(--prereview-blue);

      box-sizing: border-box;
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
      @media (--mobile-portrait) {
        padding: 0;
        width: var(--mgrd);
      }
    }

    & .settings__persona-status__icon {
      width: 18px;
      height: 18px;
      fill: white;

      flex: 0 0 18px;
    }
  }
  & .settings__persona-status__label {
    margin: 0 var(--xxsgrd);
    @media (--mobile-portrait) {
      display: none;
    }
  }
}

.settings-role-editor-modal {
  width: 100vw;
  max-width: 470px;
}
