.shell {
  z-index: 2;
  position: fixed;
  background-color: white;
  bottom: 0;
  width: 80vw;
  max-height: 50vh;
  overflow: auto;
  left: 10vw;
  border-top:1px solid red;
  border-left:1px solid red;
  border-right:1px solid red;
}

.shell__drag {
  z-index: 100;
  position: fixed;
  left: 50vw;
}

.shell__mask {
  z-index: 1;
  position: fixed;
  background-color: transparent;
  top: 0;
  bottom: 0;
  left: 0;
  right:0
}
