.sort-options {
  display: flex;
  align-items: center;
  padding: var(--xsgrd) 0;
  margin-bottom: var(--mgrd);
  color: var(--ui-basic-font-color--light);
  border-bottom: 1px solid var(--ruling-color);
  text-transform: uppercase;
  font: var(--ui-basic-font--small);
}

.sort-options__item {
  display: flex;
  align-items: center;
  margin-right: var(--xsgrd);
  & label {
    cursor: pointer;
  }

  & input {
    display: none;
  }


  &:last-of-type {
    margin-left: auto;
  }

  &:hover {
    & .sort-options__item-text {
      color: black;
    }

    & .sort-options__icon {
      visibility: visible;
    }
  }

  &.sort-options__item--active {
    & label {
      cursor: default;
    }
    & .sort-options__item-text {
      color: black;
      font-weight: 600;
    }
  }
}

.sort-options__icon {
  margin-left: var(--xxsgrd);
  visibility: hidden;
}

.sort-options__icon--selected {
  visibility: visible;
}
