.sort-options {
  display: flex;
  align-items: center;
  padding: var(--xsgrd) 0;
  margin-bottom: var(--mgrd);
  color: var(--ui-basic-font-color--light);
  border-bottom: 1px solid var(--ruling-color--light);
  text-transform: uppercase;
  font: var(--ui-basic-font--small);

  & label {
    cursor: pointer;
  }
}

.sort-options__item {
  display: flex;
  align-items: center;

  & input {
    display: none;
  }

  &:first-of-type {
    margin-right: var(--sgrd);
  }

  &:last-of-type {
    margin-left: auto;
  }
}

.sort-options__icon {
  margin-left: var(--xxsgrd);
}
.sort-options__icon--hidden {
  visibility: hidden;
}
