.subject-editor__list {
  display: flex;
  list-style: none;
  padding: 0;
  margin: var(--sgrd) 0;
}

.subject-editor__item {
  padding: 0;
  margin: 0;
  margin-right: var(--xsgrd);

  & .icon-button {
    margin-left: var(--xsgrd);
  }
}

.subject-editor__item:last-child {
  margin-right: 0;
}
