.text-answers {
  & .text-answers__question {
    font: var(--ui-basic-font--large);
    font-weight: 600;
    margin: var(--lgrd) 0 var(--sgrd);
    padding-bottom: var(--xsgrd);
    display: block;
    border-bottom: 2px solid var(--ruling-color);
  }

  & .text-answers__response-row {
    margin: 0;
    display: flex;
    background-color: var(--xxlight-grey);
    padding: var(--sgrd);
    &:nth-child(even) {
      background-color: var(--xlight-grey);
    }
  }

  & .text-answers__user-badge-container {
    flex: 0 0 auto;
    margin-top: var(--xsgrd);
    margin-right: var(--sgrd);
  }

  & .text-answers__response {
    font: var(--ui-basic-font);
    border: 1px solid var(--ruling-color);
    border-radius: 2px;
    padding: var(--sgrd) var(--mgrd);
    margin-bottom: var(--sgrd);
  }
}
