.text-input {
  position: relative;

  box-sizing: border-box;

  & .text-input__label {
    position: relative;
    display: block;
    color: var(--ui-basic-font-color--light);
    font: var(--ui-basic-font--large);
    margin-bottom: var(--xxsgrd);
  }

  & .text-input__input {
    position: relative;
    box-sizing: border-box;
    border: 2px solid var(--ruling-color);
    height: var(--lgrd);
    width: 100%;
    padding: var(--xxsgrd);
    font: var(--ui-basic-font--large);
    &:focus {
      border-color: var(--prereview-black);
      outline: none;
    }
  }

  /* Minimal mode - label is treated as placeholder */
  &.text-input--minimal {
    height: var(--lgrd);

    & .text-input__input {
      z-index: 10;
      background-color: rgba(255, 255, 255, 1);
      transition: background-color 0.1 s;
    }

    & .text-input__label {
      pointer-events: none;
      margin-bottom: 0;
      z-index: 0;
      box-sizing: border-box;
      position: absolute;
      height: 100%;
      display: flex;
      align-items: center;
      padding: var(--xsgrd);
    }
  }

  &.text-input--minimal.text-input--empty {
    & .text-input__input {
      background-color: rgba(255, 255, 255, 0.3);
    }
  }
}
