.toc-page {
  padding: calc(var(--header-bar-height) + var(--lgrd)) 0 var(--lgrd);
  margin: 0;
  box-sizing: border-box;

  & .toc-page__content{
    /* TODO semantic styles (class free) for h1, h2, ul, li, p, blockquote etc. */
  }
}
