:root {
  /* grid */
  --xxsgrd: 4px;
  --xsgrd: 8px;
  --sgrd: 16px;
  --mgrd: 24px;
  --lgrd: 32px;
  --xlgrd: 40px;

  /* Style Guide Colors */
  --prereview-red: #ff3333;
  --prereview-black: #000000;
  --prereview-white: #ffffff;
  --prereview-grey: #4b4949;
  --prereview-blue: #197cf4;
  --prereview-light-blue: #e4edf7;
  --prereview-gold: #fcbd4c;
  --prereview-coral: #f77463;
  --prereview-spring-green: #66f785;

  --light-grey: rgb(232, 232, 232);

  /* UI Colors */
  --ui-basic-font-color: #181818;
  --ui-basic-font-color--light: rgb(120, 120, 120);

  --ruling-color: var(--ui-basic-font-color--light);
  --ruling-color--light: var(--light-grey);

  /* standard button colors */
  --button-background-color: transparent;
  --button-foreground-color: var(-ui-basic-font-color);
  --button-background-focus-color: var(--prereview-black);
  --button-foreground-focus-color: var(--prereview-white);

  /* primary-style button colors - these are buttons that need to stand out*/
  --button-background-color--primary: var(--prereview-red);
  --button-foreground-color--primary: var(--prereview-white);
  --button-background-focus-color--primary: var(--prereview-black);
  --button-foreground-focus-color--primary: var(--prereview-white);

  --card-color: var(--prereview-white);
  --card-color--tinted: rgb(245, 245, 245);
  --focus-color: var(--prereview-blue);

  --link-color: var(--prereview-blue);
  --link-color--hover: var(--prereview-light-blue);

  /* standard dimensions */
  --header-bar-height: 72px;
  --search-bar-height: 72px;
  --left-panel-min-width: 240px;

  --middle-column-default-width: 960px;

  /* Fonts */
  --ui-font-family: 'Open Sans', 'sans-serif';

  --ui-basic-font-size: 13px;
  --ui-basic-font-leading: 18px;
  --ui-basic-font: 400 var(--ui-basic-font-size) / var(--ui-basic-font-leading)
    var(--ui-font-family);

  --ui-basic-font-size--small: 11.5px;
  --ui-basic-font-leading--small: 16px;
  --ui-basic-font--small: 400 var(--ui-basic-font-size--small) /
    var(--ui-basic-font-leading--small) var(--ui-font-family);

  --ui-basic-font-size--large: 16px;
  --ui-basic-font-leading--large: 20px;
  --ui-basic-font--large: 400 var(--ui-basic-font-size--large) /
    var(--ui-basic-font-leading--large) var(--ui-font-family);

  --ui-header-menu-font-size: 16px;
  --ui-header-menu-font-leading: 20px;
  --ui-header-menu-font: 400 var(--ui-header-menu-font-size) /
    var(--ui-header-menu-font-leading) var(--ui-font-family);

  --ui-header-1-font-size: 20px;
  --ui-header-1-font-leading: 1.3em;
  --ui-header-1-font: 500 var(--ui-header-1-font-size) /
    var(--ui-header-1-font-leading) var(--ui-font-family);

  --ui-header-2-font-size: 16px;
  --ui-header-2-font-leading: 1.3em;
  --ui-header-2-font: 500 var(--ui-header-2-font-size) /
    var(--ui-header-2-font-leading) var(--ui-font-family);

  --ui-score-badge-font: 600 16px / 16px var(--ui-font-family);

  /* button fonts */
  --ui-button-font-size: var(--ui-basic-font-size);
  --ui-button-font-leading: var(--ui-basic-font-size);
  --ui-button-font: 600 var(--ui-button-font-size) /
    var(--ui-button-font-leading) var(--ui-font-family);

  --ui-button-font-size--primary: 16px;
  --ui-button-font-leading--primary: 16px;
  --ui-button-font--primary: 600 var(--ui-button-font-size--primary) /
    var(--ui-button-font-leading--primary) var(--ui-font-family);
}

/* Media Queries */
@custom-media --mobile-portrait screen and (0px <= width <= 420px) and (0px <= height <= 850px);

@custom-media --short-screen screen and (0px <= height <= 820px);

@custom-media --narrow-screen screen and (0px <= width <= 900px);
