@import 'normalize.css';
@import './components/variables.css';

@import './components/app.css';
@import './components/count-badge.css';
@import './components/extension-fallback.css';
@import './components/header-bar.css';
@import './components/home.css';
@import './components/icon-button.css';
@import './components/left-side-panel.css';
@import './components/preprint-card.css';
@import './components/search-bar.css';
@import './components/score-badge.css';

/* reach ui */
@import '../node_modules/@reach/menu-button/styles.css';
